<section class="calendar-section">
    <div class="calendar-div">
        <div class="month-year-div">
            <h3 class="month"></h3>
            <h3 class="year"></h3>
        </div>
        <div class="dates-div">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>

            <div class="date" id="a1"></div>
            <div class="date" id="a2"></div>
            <div class="date" id="a3"></div>
            <div class="date" id="a4"></div>
            <div class="date" id="a5"></div>
            <div class="date" id="a6"></div>
            <div class="date" id="a7"></div>
            <div class="date" id="b1"></div>
            <div class="date" id="b2"></div>
            <div class="date" id="b3"></div>
            <div class="date" id="b4"></div>
            <div class="date" id="b5"></div>
            <div class="date" id="b6"></div>
            <div class="date" id="b7"></div>
            <div class="date" id="c1"></div>
            <div class="date" id="c2"></div>
            <div class="date" id="c3"></div>
            <div class="date" id="c4"></div>
            <div class="date" id="c5"></div>
            <div class="date" id="c6"></div>
            <div class="date" id="c7"></div>
            <div class="date" id="d1"></div>
            <div class="date" id="d2"></div>
            <div class="date" id="d3"></div>
            <div class="date" id="d4"></div>
            <div class="date" id="d5"></div>
            <div class="date" id="d6"></div>
            <div class="date" id="d7"></div>
            <div class="date" id="e1"></div>
            <div class="date" id="e2"></div>
            <div class="date" id="e3"></div>
            <div class="date" id="e4"></div>
            <div class="date" id="e5"></div>
            <div class="date" id="e6"></div>
            <div class="date" id="e7"></div>
            <div class="date" id="f1"></div>
            <div class="date" id="f2"></div>
            <div class="date" id="f3"></div>
            <div class="date" id="f4"></div>
            <div class="date" id="f5"></div>
            <div class="date" id="f6"></div>
            <div class="date" id="f7"></div>
        </div>
    </div>
</section>