:root {
    --highlight: rgb(250, 34, 145);

}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

.calendar-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-div {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    width: 400px;
    height: 375px;
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.month-year-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hover {
    cursor: default
}

.hover-hand {
    cursor: pointer;
}

.dates-div {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px repeat(6, 1fr);
    gap: 20px;
}

.dates-div > a {
    text-decoration: none;
    color: inherit;
}

.today {
    background-color: var(--highlight);
    border-radius: 50px;
}

@media only screen and (max-width: 450px) {
    .calendar-section {
        width: 90vw;
        margin: auto;
    }
}